<div class="checkbox-container">
    <h3>Sort By</h3>
    <label class="container">
        <input type="radio" name="sort-by" value="sort-by-price-h-to-l">
        <label for="sort-by-price-h-to-l">Price High To Low</label><br>
    </label>
    <label class="container">
        <input type="radio" name="sort-by" value="sort-by-price-l-to-h">
        <label for="sort-by-price-l-to-h">Price Low To High</label><br>
    </label>
    <label class="container">
        <input type="radio" name="sort-by" value="sort-by-name">
        <label for="sort-by-name">Name</label><br>
    </label>
</div>

