.cart-product-img {
    width: 100px;
    height: 100px;
}

.count {
    width: 60px!important;
}

.table-responsive {
    margin-top: -35px;
    max-width: 500px;
}

.cart-details h1 {
    color: black;
}

.dropdown-content.cart {
    width: 500px;
    text-align: center;
}

#cart-empty-dopdown {
    margin: 30px;
    border-bottom: 1px solid lightgray;
    width: 85%;
}

.fa-trash:before {
    content: "\f1f8";
    color: black;
}


/* Cart button on header and checkout button in cart */

#shopping-cart-dropdown {
  left: 0;
}

.shopping-cart-items {
    padding: 0;
}

#checkout-btn {
    padding: 5px;
    width: 100px;
    text-align: center;
    float: right;
    color: white;
}

#view-cart-btn {
    padding: 5px;
    width: 100px;
    margin-left: 10px;
    text-align: center;
    float: left;
    color: white;
}


.clearfix li {
    float: right;
    list-style: none;
    text-align: left;
}

.clearfix {
    width: 399px!important;
    border-bottom: 1px solid lightgray;
}

.clearfix img {
    float: left;
}

.shopping-cart-total {
    width: 400px;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
    margin: 0;
    font-size: large;
}

.lighter-text {
    margin: 0;
}

/* Review cart page */

.mt-5, .my-5 {
    margin-top: 0!important;
}

.cart-details {
    border-radius: 5px;
    padding: 20px;
    color: black;
    border: 1px solid #ff29f8;
    background-color: white;
    width: 50%;
}

#continue-shopping {
    padding: 5px;
    width: 180px;
    text-align: center;
    float: left;
    color: white;
    margin-left: 10px;
}


#continue-shopping-details {
    width: 40%;
    text-align: center;
    margin-top: 20px;
}

.cart-details a {
    color: black;
    text-decoration: none;
}