.cart-product-img {
    width: 100px;
    height: 100px;
}

.count {
    width: 60px!important;
}

.table-responsive {
    margin-top: -35px;
    max-width: 500px;
}

.cart-details h1 {
    color: black;
}

.dropdown-content.cart {
    width: 500px;
    text-align: center;
}

#cart-empty-dopdown {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    width: 50%;
    margin-left: 130px;
}

.fa-trash:before {
    content: "\f1f8";
    color: black;
}