.checkout button {
    border: 1px black solid;
    margin: 10px;
    padding: 20px;
    width: 700px;
    text-align: left;
    justify-content: left;
}

#checkout-container {
    background-color: white;
    height: 100%;
}

/* User Information page when checking out*/

.checkout-user-info-container {
    background-color: white;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px solid #ff28f9;
    border-radius: 5px;
    justify-content: center;
}

.checkout-user-info-container h2{
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 40px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey;
    width: 80%;
    display: inline-block;
}

.checkout-user-info-container form {
    width: 60%;
    display: inline-block;
    margin-bottom: 20px;
}

.checkout-user-info-container button {
    margin-top: 40px;
}


.review-info-container {
    border: 2px solid #ff29f8;
    background-color: white;
    padding: 30px;
}

.review-info {
    display: inline-grid;
    margin-top: 40px;
    padding-right: 45px;
}

.review-info th {
    background-color: white;
    color: black;
    border: solid 2px gray;
    font-family: normal;
    font-weight: normal;
    text-align: left;
}

.review-info h2{
    color: black;
    margin-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.review-info-billing {
    padding-top: 30px;
}

.review-info-table {
    color: black;
}

.back-btn.payment-site {
    display: block;
    float: left;
    margin-left: 20px;
    color: black;
}

#review-info-field {
    display: contents;
    margin-bottom: 50px;
}

.review-info-btn-container {
    margin-top: 50px;
}

