.checkout button {
    border: 1px black solid;
    margin: 10px;
    padding: 20px;
    width: 700px;
    text-align: left;
    justify-content: left;
}

.conformation-site {
    background-color: #040404b5;
    color: white;
    width: 60%;
    border: 2px solid #ff29f8;
    border-radius: 5px;
    padding: 40px;
    font-size: x-large;
    font-family: normal;
}

.conformation-site h4 {
    margin-bottom: 50px;
}


#checkout-container {
    background-color: white;
    height: 100%;
}

.checkout-user-info-container {
    background-color: white;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px solid #ff28f9;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}

.checkout-user-info-container h2 {
    margin-bottom: 30px;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey;
    width: 90%;
    display: inline-block;
}

.checkout-user-info-container form {
    width: 60%;
    display: inline-block;
    margin-bottom: 20px;
}

.checkout-user-info-container button {
    margin-top: 40px;
}


.review-info-container {
    border: 2px solid #ff29f8;
    background-color: white;
    padding: 30px;
}

.review-info {
    display: inline-grid;
    margin-top: 40px;
    padding-right: 45px;
}

.review-info th {
    background-color: white;
    color: black;
    border: solid 2px gray;
    font-family: normal;
    text-align: left;
    border-right: none;
    border-left: none;
}

.review-info h2{
    color: black;
    margin-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

.review-info-billing {
    padding-top: 30px;
}

.review-info-table {
    color: black;
}

.back-btn.payment-site {
    display: block;
    float: left;
    margin-left: 20px;
    color: black;
}

#review-info-field {
    display: contents;
    margin-bottom: 50px;
}

.review-info-btn-container {
    margin-top: 50px;
}

.review-info.cart table {
    font-family: normal;
    margin-top: 0!important;
}

.past-orders h1 {
    border-bottom: 2px solid #ff29f8;
    width: 50%;
    margin-bottom: 30px;
    display: inline-block;
}

.past-orders-container {
    border: 2px solid #ff29f8;
    border-radius: 5px;
    padding: 30px;
    margin-top: 40px;
}

.single-product.my-orders:hover {
    opacity: 0.7
}

.single-product.my-orders {
    background-color: white;
    opacity: 1;
    transition: 0.3s;
}

.single-product.my-orders {
    height: 150px;
    font-family: normal;
}

#text-center {
    text-align: center;
}

.single-product.my-orders h4 {
    color: black;
}

.past-order h1 {
    border-bottom: 2px solid #ff29f8;
    width: 50%;
    display: inline-block;
}

.past-order-container {
    border: 2px solid #ff29f8;
    border-radius: 5px;
    background-color: white;
    color: white;
    width: 750px;
    margin-top: 50px;
}

.past-order-info {
    text-align: center;
    padding: 20px;
    display: inline-block;
    color: black;
}

.past-order-product {
    width: 300px;
    margin-left: 230px;
    color: white;
}

.contact-header {
    margin-top: 30px;
    text-align: center;
}

.review-info.cart img {
    width: 100px;
    height: 100px;
}

.review-info.cart table {
    margin-top: 40px;
}

.review-info.cart th {
    border-left: none;
    border-right: none;
}

.review-info.cart {
    width: 35%;
    padding: 0;
    margin-left: 65px;
}

.review-info.billing {
    width: 100%;
    padding: 0;
}

.review-info.contact {
    width: 50%;
    padding: 0;
}


.past-order-table {
    border-collapse: collapse;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: 30px;
    background-color: white;
    color: black;
    padding: 20px;
    width: 70%;
}

.past-order-table th {
    border-bottom: 2px solid black;
}