/* Homepage images */

.homepage-img {
    height: 300px;
    width: 300px;
    font-size: 18px;
    justify-content: center;
    float: left;
    padding: 30px;
}

#image-left {
    margin: 30px;
    justify-content: center;
    text-align: center;
    display: inline-block;
    width:33%;
    background-color: #000000ad;
    border: 2px solid #ff29f8;
}

#image-middle {
    margin: 30px;
    justify-content: center;
    text-align: center;
    display: inline-block;
    width:33%;
    background-color: #000000ad;
    border: 2px solid #ff29f8;
}

#image-right {
    margin: 30px;
    justify-content: center;
    text-align: center;
    display: inline-block;
    width:33%;
    background-color: #000000ad;
    border: 2px solid #ff29f8;
}

#image-right p {
    color:white;
    text-decoration: none;
}

#image-middle p {
    color:white;
    text-decoration: none;
}

#image-left p {
    color:white;
    text-decoration: none;
}


/* Location of store and opening hours page */

.hours-location-container{
    height: 700px;
    width: 100%;
    margin-bottom: 100px;
}

.hours-location-container h1{
    padding-bottom: 70px;
    font-size: 50px;
}

.opening-hours-right {
    display: inline-block;
    height: 300px;
    border-spacing: 10px;
    float: right;
    border: 2px solid #ff29f8;
    padding: 30px;
    padding-bottom: 550px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: large;
}

.opening-hours-right h4{
    color: #ff29f8;
    font-size: 30px;
}

.opening-hours-left {
    display: inline-block;
    height: 300px;
    border-spacing: 10px;
    float: left;
    border: 2px solid #ff29f8;
    padding: 30px;
    padding-bottom: 550px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: large;
}

.opening-hours-left h4{
    color: #ff29f8;
    font-size: 30px;
}


/* About Us page */

.about-us {
    display: inline-block;
    color: white;
    margin-top: 20px;
    text-align: center;
    width: 600px;
    font-size: large;
    border: 1px solid #ff29f8;
    border-radius: 5px;
    background-color: black;
    padding: 20px;
}

.about-us-left p {
    font-size: large;
    color: white;
}

.about-us-right {
    display: inline-block;
    float: right;
    text-align: right;
    width: 50%;
    color: white;
    font-family: 'Geo', sans-serif;
}

