/* Header */

#head-logo-wrap {
    height: 140px;
}

#right-header {
    float: right;
    display: flex;
    margin-top: 30px;
}

#left-header {
    display: inline-block;
    vertical-align: bottom;
}

#captain-console a {
    color:white;
    text-decoration: none;
}

.icon {
    height: 50px;
    width: 55px;
    margin-left: 15px;
    background-color: white;
    border: 2px solid #ff29f8;
    border-radius: 25px;
    padding: 2px;
    margin-top: -7px;
}

#logo-image {
    vertical-align: center;
    width: 220px;
    height: 120px;
    margin-top: 15px;
    margin-left: -50px;
}


/* Navigation Bar */

.bg-light {
    height: 80px;
    background-color: black!important;
    border: solid 2px #ff29f8;
    border-radius: 5px;
}

.nav-btn-text {
    display: inline-block;
    width: 150px;
    color: white;
    font-size: 20px;
}

.dropdown-content li {
    list-style: none;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    width: 160px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: black;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #ff29f8;
}



.dropdown-nav-title {
    padding: 12px 16px;
    font-weight: bold;
    line-height: 20px;
    color: black;
    text-transform: none;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    border-top: 1px solid #ff29f8;
    border-bottom: 1px solid #ff29f8;
}

.sub-title{
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: black;
    text-transform: none;
    text-decoration: none;
    padding: 5px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    padding-left: 30px;
}



/* Searchbar on nav-bar */

.searchbar input {
    border: solid 2px #ff29f8;
}

.searchbar button {
    background-color: #ff29f8;
    border: solid 2px #ff29f8;
}


/* Cart button on header and checkout button in cart */

#shopping-cart-dropdown {
  left: 0;
}

.shopping-cart-items {
    padding: 0;
}

#checkout-btn {
    padding: 5px;
    width: 100px;
    text-align: center;
    float: right;
    color: white;
}

#view-cart-btn {
    padding: 5px;
    width: 100px;
    margin-left: 10px;
    text-align: center;
    float: left;
    color: white;
}


.clearfix li {
    float: right;
    list-style: none;
    text-align: left;
}

.clearfix {
    width: 399px!important;
    border-bottom: 1px solid lightgray;
}

.clearfix img {
    float: left;
}

.shopping-cart-total {
    width: 400px;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
    margin: 0;
    font-size: large;
}

.lighter-text {
    margin: 0;
}


/* About Us button on header */

#about-us {
    color: white;
}

#about-us:hover {
    color: white;
    text-decoration: none;
    background-color: #ff29f8;
}

#about-us-btn {
    float: top;
    height: 40px;
}

/* Sort By test*/

#sort-test:hover {
    padding: 0;
}
