.product {
    padding: 15px;
    margin-bottom: 30px;
    justify-content: center;
    width: 85%;
    padding-bottom: 20px;
    float: right;
}

.product.without-sort {
    width: 100%;
}

#search-text {
    color: white;
}

.product.without-sort h1 {
    border-bottom: none;
}

.product-container {
    border-bottom: 2px solid #ff29f8;
    width: 100%;
    padding-bottom: 35px;
}

.product-container h1 {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 50px;
    border-bottom: 2px solid #ff29f8;
}

.brand h1 {
    padding: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ff29f8;
    color: white;
    font-size: 50px;
    width: 1000px;
}

.brand {
    border-bottom: solid 2px #ff29f8;
    justify-content: center;
    display: grid;
}

.brand img {
    width: 300px;
    font-size: 18px;
    justify-content: center;
    padding: 30px;
}

.img-container {
    background-color: white;
    border: 2px solid #ff29f8;
}

.single-product {
    height: 300px;
    width: 250px;
    display: inline-block;
    margin: 20px;
    padding: 5px;
    border: solid 1px #ff29f8;
    background-color: white;
    opacity: 1;
    transition: 0.3s;
}

.single-product:hover {
    opacity: 0.9
}
.single-product p {
    margin: 10px;
    color: black;
}

.product-details {
    border: #ff29f8 2px solid;
    background-color: black;
    border-radius: 5px;
    padding: 40px;
}

.product-details-info {
    display: inline-block;
    color: white;
    margin-left: 30px;
    text-align: left;
    width: 500px;
    font-size: large;
    margin-top: -15px;
}

.product-details-info h1{
    float: top;
}


.product-details button {
    float: right;
    margin-top: 50px;
}

.product-img {
    height: 220px;
    width: 220px;
    font-size: 18px;
    justify-content: center;
    background-color: white;
    padding: 20px;
}

.product-img.details {
    float: left;
}

.extra-product-img {
    height: 220px;
    width: 220px;
    font-size: 18px;
    justify-content: center;
    float: left;
    background-color: white;
    display: inline-block;
}

.product-img.homepage {
    background-color: black;
    border: 2px solid #ff29f8;
}

#product-description {
    font-family: normal!important;
}

#product-price {
    font-size: 25px;
}

.container h1 {
    color: white;
    font-size: 50px;
}


/* Sidebar */

.checkbox-container {
    margin-top: 35px;
    color: white;
    background-color: #000000ad;
    justify-content: left;
    width: 15%;
    float: left;
}


.checkbox-container h3 {
    border-bottom: 1px solid #ff29f8;
    border-top: 1px solid #ff29f8;
    padding: 5px;
    margin-bottom: 15px;
    background-color: black;
}

.checkbox-container label {
    justify-content: left;
    margin: 5px;
}

.checkbox-container input {
    margin-right: 5px;
}

.sortby a {
    color: white;
}

#sort_text {
    color: white;
    border: 2px solid #ff29f8;
    padding: 3px;
    margin-bottom: 10px;
    width: 400px;
    text-align: center;
    display: inline-block;
    background-color: black;
    margin-top: 30px;
    margin-bottom: 50px;
}


.recently-viewed {
    border: 2px solid #ff29f8;
    padding: 20px;
    color: white;
    background-color: black;
    margin-top: 100px;
    justify-content: center;
}

.recently-viewed h2 {
    border-bottom:2px solid #ff29f8;
    width: 50%;
    margin: auto;
}

.recently-viewed-container {
    display: inline-block;
}

.recently-viewed-products {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 50px;
    display: inline-flex;
}

#recently-viewed-product-img {
    width: 100px;
    height: 100px;
    padding: 0;
}

#recently-viewed-product-name {
    margin: 0;
    width: 100px;
    color: white;
}

#recently-viewed-product-price {
    margin: 0;
    color: white;
}

.extra-product-images {
    width: 50px;
    height: 50px;
    margin-top: -220px;
    float: left;
    padding: 2px;
    background-color: white;
    margin-right: 10px;
}

.show-all-images {
    width: 220px;
    display: flex;
}

