.my-account-info-container {
    width: 90%;
    border: 2px solid #ff29f8;
    border-radius: 5px;
    padding: 40px;
    background-color: #000000ad;
}

.user-profile-header {
    color: white;
}

.user-profile-header.contact-info {
    margin-bottom: 30px;
    margin-right: 100px;
}

.user-profile-header.image {
    text-align: center;
    margin-bottom: 40px;
}

tr {
    border-bottom: solid 1px;
    height: 40px;
    width: 40px;
}

.edit-info-btn {
    font-family: 'Geo', sans-serif;
    float: left;
    margin-top: 60px;
}

#delete-img {
    float: right;
    display: inline-block;
}

#edit-img {
    float: left;
}

#info-table {
    width: 80%;
    background-color: #0000001c;
    color: white;
    text-align: left;
}

.profile-img {
    height: 300px;
    margin-bottom: 151px;
}

.profile-image-container {
    float: right;
    width: 40%;
}

.user-info-container {
    float: left;
    width: 60%;
}

.user-info-container table {
    background-color: white;
}


.edit-profile-buttons {
    margin-top: 20px;
}


.helptext li {
    list-style: none;
    justify-content: flex-end;
    text-align: left;
}

.helptext {
    display: none;
}

.form.form-horizontal {
    text-align: left;
    border-radius: 5px;
    padding: 50px;
    border: 3px solid #ff29f8;
    background-color: black;
}

form.form-horizontal h1 {
    text-align: center;
    color: white;
}

.form.form-horizontal label {
    margin-right: 50px;
    margin-bottom: 10px;
    color: white;
}

.form.form-horizontal input {
    float: right;
    border: 2px solid #ff29f8;
}

#log-in-container {
    width: 400px!important;
}


/* Edit user information page */

.edit-info {
    width: 500px!important;
    padding: 40px;
    padding-bottom: 20px;
    font-family: normal!important;
    border: 2px solid #ff28f9;
    border-radius: 5px;
    color: white;
    background-color: #000000ad;
}

.edit-info h1 {
    margin-bottom: 50px;
    font-family: 'Geo', sans-serif;
}

.edit-info label {
    width: 40%;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

.edit-info input {
    float: right;
    width: 60%;
    padding: 10px;
}

.edit-info select {
    width: 60%;
    float: right;
    padding: 10px;
}

.classic-button.update-btn {
    width: 140px;
    float: right;
}

.classic-button.back-btn {
    width: 140px;
    float: left;
}

.edit-img {
    width: 500px!important;
    padding: 40px;
    padding-bottom: 20px;
    font-family: normal!important;
    border: 2px solid #ff29f8;
    border-radius: 5px;
    color: white;
    background-color: #000000ad;
}

.edit-img h1 {
    margin-bottom: 50px;
    font-family: 'Geo', sans-serif;
}

.edit-img label {
    width: 20%;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

.edit-img input {
    float: right;
    width: 80%;
    padding: 10px;
}