{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="about-us">
        <h1>About Us</h1><br>
        <p>Captain Console is not your typical online store.</p>
        <p>Captain Console is a retro video game online store located in Reykjavík specializing in original retro games, accessories and consoles.</p>
        <p>We are a company that wants to keep retro gaming alive by only having the very best throwbacks. We make sure everyone is welcome, no matter how much gaming knowledge you have and especially making sure that everyone can enjoy retro games.</p>
    </div> <!-- end about-us -->
{% endblock %}