{% extends 'base.html' %}
{% block content %}
    <div class="hours-location-container">
        <h1>Opening hours</h1>
        <div class="opening-hours-left">
            <h4>Smáralind</h4>
            <p>Monday - Friday: 11 AM - 7 PM <br>
               Saturday: 11 AM - 6 PM <br>
               Sunday: 12 PM - 6 PM</p><br>
            <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1742.6874277631402!2d-21.8853015838133!3d64.1011549835747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d60cb3348b41ef%3A0x162ff4d5c25e2e5!2sSm%C3%A1ralind!5e0!3m2!1sen!2sis!4v1588848394389!5m2!1sen!2sis" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>
        </div>
        <div class="opening-hours-right">
            <h4>Kringlan</h4>
            <p>Monday - Friday: 11 AM - 7 PM <br>
               Saturday: 11 AM - 6 PM <br>
               Sunday: 12 PM - 6 PM</p><br>
            <p> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1740.8977121540809!2d-21.898855383812002!3d64.12972218358762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d674b0662759d7%3A0xe02f687c1a05c439!2sKringlan!5e0!3m2!1sen!2sis!4v1588847624760!5m2!1sen!2sis" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>
        </div>
    </div>
{% endblock %}