<div class="sidebar">
    <div class="checkbox-container">


        <!-- if product type is videogames -->
        {% if product_type_id == 2 and show_sort%}
            <h3>Sort By</h3>
            <label class="container sortby">
                <a href="{% url 'v_sort_price_desc' %}">
                    <li>Price (High-Low)</li>
                </a>
            </label>

            <label class="container sortby">
                <a href="{% url 'v_sort_price_asc' %}">
                    <li>Price (Low-High)</li>
                </a>
            </label>

            <label class="container sortby">
                <a href="{% url 'v_sort_by_name' %}">
                    <li>Name</li>
                </a>
            </label>

            <h3>Genre</h3>
            <label class="container sortby">
                <a href="{% url 'action_videogames' %}">
                    <li>Action</li>
                </a>
            </label>

            <label class="container sortby">
                <a href="{% url 'adventure_videogames' %}">
                    <li>Adventure</li>
                </a>
            </label>

            <label class="container sortby">
                <a href="{% url 'fighting_videogames' %}">
                     <li>Fighting</li>
                </a>
            </label>

            <label class="container sortby">
                <a href="{% url 'platforming_videogames' %}">
                    <li>Platforming</li>
                </a>
            </label>

            <label class="container sortby">
                <a href="{% url 'puzzle_videogames' %}">
                    <li>Puzzle</li>
                </a>
            </label>

            <label class="container sortby">
                <a href="{% url 'racing_videogames' %}">
                    <li>Racing</li>
                </a>
            </label>

            <label class="container sortby">
                <a href="{% url 'roleplaying_videogames' %}">
                    <li>Role-playing</li>
                </a>
            </label>

            <label class="container sortby">
                <a href="{% url 'sports_videogames' %}">
                    <li>Sport</li>
                </a>
            </label>

            <label class="container sortby">
                <a href="{% url 'tacticalshooter_videogames' %}">
                    <li>Tactical shooter</li>
                </a>
            </label><br>


        <!-- if product type is consoles -->
        {% elif product_type_id == 1 and show_sort%}
            <h3>Sort By</h3>
            <label class="container sortby">
                <a href="{% url 'c_sort_price_desc' %}">
                    <li>Price (High-Low)</li>
                </a>
            </label>

            <label class="container sortby">
                <a href="{% url 'c_sort_price_asc' %}">
                    <li>Price (Low-High)</li>
                </a>
            </label>

            <label class="container sortby">
                <a href="{% url 'c_sort_by_name' %}">
                    <li>Name</li>
                </a>
            </label>

        <!-- if product type is accessories -->
        {% elif product_type_id == 3 and show_sort%}
            <h3>Sort By</h3>
            <label class="container sortby">
                <a href="{% url 'a_sort_price_desc' %}">
                    <li>Price (High-Low)</li>
                </a>
            </label>

            <label class="container sortby">
                <a href="{% url 'a_sort_price_asc' %}">
                    <li>Price (Low-High)</li>
                </a>
            </label>

            <label class="container sortby">
                <a href="{% url 'a_sort_by_name' %}">
                    <li>Name</li>
                </a>
            </label>

        {% elif product_type_id == 'all' %}
            <h3>Sort By</h3>
            <label class="container sortby">
                <a href="{% url 'all_sort_price_desc' %}">
                    <li>Price (High-Low)</li>
                </a>
            </label>

            <label class="container sortby">
                <a href="{% url 'all_sort_price_asc' %}">
                    <li>Price (Low-High)</li>
                </a>
            </label>

            <label class="container sortby">
                <a href="{% url 'all_sort_by_name' %}">
                    <li>Name</li>
                </a>
            </label>
        {% endif %}
    </div>
</div>

