
<div id="left-footer">
    <h4>Opening Hours</h4>
    <p>
        Monday - Friday: 11 AM - 7 PM <br>
        Saturday: 11 AM - 6 PM <br>
        Sunday: 12 PM - 6 PM
    </p>

    <a href="{% url 'openinghours' %}">Store Locations</a>


</div> <!-- end left-footer -->

<div id="right-footer">
    <h4>Contact Us</h4>
    <p>
        Menntavegur 1<br>
        102 Reykjavík<br>
        +354 599 6200<br>
    </p>

    <a href="mailto:captainconsole@simnet.is">captainconsole@simnet.is</a>

</div> <!-- end right-footer -->
