{% load static %}
<div id="head-logo-wrap">
    <div id="left-header">
        <a href="{% url 'homepage' %}">
            <img src="{% static "images/logo.png" %}" alt="logo" id="logo-image">
            <h1 id="captain-console">Captain Console</h1>
        </a>
    </div> <!-- end left-header -->
    <div id="right-header">
        <button class="classic-button"><a id="about-us" href={% url 'aboutus' %}>About Us</a></button>
        {% if user.is_authenticated %}
            <div class="dropdown">
                <img class="icon" src="{% static "images/nyprofile.png" %}"/>
                <div class="dropdown-content">
                    <a href="{% url 'profile' %}" class="dropdown-nav-title">My Account</a>
                    <a href="{% url 'past_orders' %}" class="dropdown-nav-title">My Orders</a>
                    <a href="{% url 'logout' %}" class="dropdown-nav-title">Logout</a>
                </div> <!-- end dropdown-content -->
            </div> <!-- end dropdown -->

        {% else %}
            <div class="dropdown">
                <button class="classic-button">My Account</button>
                <div class="dropdown-content">
                    <a href="{% url 'login' %}" class="dropdown-nav-title">Log In</a>
                    <a href="{% url 'register' %}" class="dropdown-nav-title">Sign Up</a>
                </div> <!-- end dropdown-content -->
            </div> <!-- end dropdown -->

        {% endif %}
        {% include 'order/cart_dropdown.html' with cart_info=cart_info%}
    </div> <!-- end right-header -->
</div> <!-- end head-logo-wrap -->



