{% load static %}
<div id="head-logo-wrap">
    <div id="left-header">
        <img src="{% static "images/logo.png" %}" alt="logo" id="logo-image">
        <h1 id="captain-console">Captain Console</h1>
    </div>
    <div id="right-header">
        <button class="classic-button"><a href="{% url "about-us-index" %}">
            <div class="head-btn-text">About Us</div></a></button>
        <button class="classic-button">My Account</button>
        <img src="{% static "images/shopping_cart.png" %}" alt="cart" id="cart-image">
    </div>
</div>