<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <div class="dropdown">
            <button class="btn btn-outline-success header-button" type="button">
                <a href="{% url "videogame-index" %}">
                    <div class="nav-btn-text">
                        Video Games
                    </div>
                </a>
            </button>
                    <div class="dropdown-content">
                        <a href="#">Playstation</a>
                        <a href="#">Xbox</a>
                        <a href="#">Nintendo</a>
                        <a href="#">SEGA</a>
                    </div> <!-- end dropdown-content-->
        </div> <!-- end dropdown-->

        <div class="dropdown">
            <button class="btn btn-outline-success header-button" type="button">
                <a href="{% url "consoles-index" %}">
                <div class="nav-btn-text">Game Consoles</div></a></button>
                    <div class="dropdown-content">
                        <a href="#">Playstation</a>
                        <a href="#">Xbox</a>
                        <a href="#">Nintendo</a>
                        <a href="#">SEGA</a>
                    </div> <!-- end dropdown-content-->
        </div> <!-- end dropdown-->

        <div class="dropdown">
            <button class="btn btn-outline-success header-button" type="button">
                <a href="{% url "accessories-index" %}">
                <div class="nav-btn-text">Accessories</div></a></button>
                    <div class="dropdown-content">
                        <a href="#">Playstation</a>
                        <a href="#">Xbox</a>
                        <a href="#">Nintendo</a>
                        <a href="#">SEGA</a>
                        <a href="#">Other</a>
                    </div> <!-- end dropdown-content-->
        </div> <!-- end dropdown-->
    </form> <!-- end form-inline-->

<!-- The form -->
    <form class="searchbar" action="action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form> <!-- end searchbar-->
</nav> <!-- end navbar navbar-light bg-light-->