<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <div class="dropdown">
            <button class="btn btn-outline-success header-button" type="button">
                <div class="nav-btn-text"><a href="{% url "videogame-index" %}">Video Games</a></div></button>
                    <div class="dropdown-content">
                        <a href="#">Playstation 1 Games</a>
                        <a href="#">Xbox Games</a>
                        <a href="#">Nintendo Games</a>
                    </div>
        </div>

        <div class="dropdown">
            <button class="btn btn-outline-success header-button" type="button">
                <div class="nav-btn-text"><a>Game Consoles</a></div></button>
                    <div class="dropdown-content">
                        <a href="#">Playstation 1</a>
                        <a href="#">Xbox</a>
                        <a href="#">Nintendo</a>
                    </div>
        </div>

        <div class="dropdown">
            <button class="btn btn-outline-success header-button" type="button">
                <div class="nav-btn-text"><a>Accessories</a></div></button>
                    <div class="dropdown-content">
                        <a href="#">Playstation 1 Games</a>
                        <a href="#">Xbox Games</a>
                        <a href="#">Nintendo Games</a>
                    </div>
        </div>

        <div class="dropdown">
            <button class="btn btn-outline-success header-button" type="button">
                <div class="nav-btn-text"><a>Retro Deals</a></div></button>
                    <div class="dropdown-content">
                        <a href="#">Playstation 1 Games</a>
                        <a href="#">Xbox Games</a>
                        <a href="#">Nintendo Games</a>
                    </div>
        </div>
    </form>

<!-- The form -->
    <form class="example" action="action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</nav>