<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success header-button dropdown-toggle" type="button">
        <div class="nav-btn-text"><a>Gameboy</a></div></button>
    <button class="btn btn-outline-success header-button dropdown-toggle" type="button">
        <div class="nav-btn-text"><a>Nintendo</a></div></button>
    <button class="btn btn-outline-success header-button dropdown-toggle" type="button">
        <div class="nav-btn-text"><a>Playstation</a></div></button>
    <button class="btn btn-outline-success header-button dropdown-toggle" type="button">
        <div class="nav-btn-text"><a>Xbox</a></div></button>
    <button class="btn btn-outline-success header-button dropdown-toggle" type="button">
        <div class="nav-btn-text"><a>Retro Deals</a></div></button>
    <button class="btn btn-outline-success header-button dropdown-toggle" type="button">
        <div class="nav-btn-text"><a>Other</a></div></button>
  </form>
</nav>
