{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="checkout-user-info-container">
        <a href="{% url 'cart_details' %}" class="back-btn payment-site" id="back-to-checkout-btn">< Back</a>
        <div class="contact-header">
            <img src="{% static "images/contact-info.png" %}" alt="logo"/>
            <h2>Contact & Shipping Information</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ contact_info_form }}<br>
            <div class="payment-header">
                <img src="{% static "images/payment.png" %}" alt="logo"/>
                <h2>Payment information</h2>
            </div>
            {% for error in errors %}
                {% if error == 'card_number' %}
                    <p class="error">* Card number has to be 16 digits.</p>
                {% endif %}
                {% if error == 'exp_date' %}
                    <p class="error">* Expiration date has to be in from MM/YY.</p>
                {% endif %}
                {% if error == 'cvv' %}
                    <p class="error">* CVV number has to be 3 or 4 digits.</p>
                {% endif %}
            {% endfor %}
            {{ payment_form }}
            <button type="submit" class="classic-button">Review info</button>
        </form> <!-- end post -->
    </div>
{% endblock %}