{% extends 'base.html' %}
{% block content %}
    <div class="checkout-user-info-container">
        <a href="{% url 'cart_details' %}" class="back-btn payment-site" id="back-to-checkout-btn">< Back</a>
        <h2>Contact & Shipping Information</h2>
        <form method="post">
            {% csrf_token %}
            {{ contact_info_form }}<br>
            <h2>Payment information</h2>
            {{ payment_form }}
            <button type="submit" class="classic-button">Review info</button>
        </form> <!-- end post -->
    </div>
{% endblock %}