{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="review-info-container">
        <a href="{% url 'review_back' %}" class="back-btn payment-site" id="back-to-checkout-btn">< Back</a>
            <div class="info-field" id="review-info-field">
                <div class="review-info contact">
                    <h2>Contact & Shipping Information</h2>
                    <table id="review-info-table">
                        <tr>
                            <th class="text-bold">First name:</th>
                            <th>{{ contact_info.first_name }}</th>
                        </tr>
                        <tr>
                            <th>Last name:</th>
                            <th>{{ contact_info.last_name }}</th>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <th>{{ contact_info.address }}</th>
                        </tr>
                        <tr>
                            <th>House number:</th>
                            <th>{{ contact_info.house_number }}</th>
                        </tr>
                        <tr>
                            <th>Country:</th>
                            <th>{{ contact_info.country.name }}</th>
                        </tr>
                        <tr>
                            <th>City:</th>
                            <th>{{ contact_info.city }}</th>
                        </tr>
                        <tr>
                            <th>Postal code:</th>
                            <th>{{ contact_info.postal_code }}</th>
                        </tr>
                    </table> <!-- end info-table -->
                    <div class="review-info billing">
                        <h2>Billing Information</h2>
                        <table id="review-info-table">
                            <tr>
                                <th>Cardholder name:</th>
                                <th>{{ payment.cardholder_name }}</th>
                            </tr>
                            <tr>
                                <th>Billing address:</th>
                                <th>{{ payment.address }} {{ payment.house_number }}, {{ payment.postal_code }} {{ payment.city }}</th>
                            </tr>
                            <tr>
                                <th>Card number:</th>
                                <th>{{ payment.card_number }} </th>
                            </tr>
                            <tr>
                                <th>Expiration date:</th>
                                <th>{{ payment.exp_date }} </th>
                            </tr>
                            <tr>
                                <th>CVV number:</th>
                                <th>{{ payment.cvv }} </th>
                            </tr>
                        </table> <!-- end info-table -->
                    </div> <!-- end review-info -->
                </div> <!-- end info-field -->
                    <div class="review-info cart">
                        <h2>Review order</h2>
                        <table>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        {% for item in cart_items %}
                            <tr>
                                <th><img src="{{ item.product.image }}"></th>
                                <th><p>{{ item.product.name }}</p></th>
                                <th><p id="text-center">{{ item.quantity }}</p></th>
                                <th><p>{{ item.product.price }}$</p></th>
                            </tr>
                        {% endfor %}
                            <th></th>
                            <th></th>
                            <th>Total price:</th>
                            <th>{{ total_price }}$</th>
                        </table>
                    </div>
                </div> <!-- end review-info -->



        <div class="review-info-btn-container">
            <a href="{% url 'place_order' %}" class="classic-button update-btn">Place Order</a>
            <a href="{% url 'cancel_order' %}" class="classic-button back-btn" type="button">Cancel Order</a>
        </div> <!-- end review-info-btn-container -->
    </div> <!-- end review-info-container -->
{% endblock %}