{% extends 'base.html' %}
{% block content %}
    <div class="product-details">
        <img src="{{ videogame.image }}" class="product-img"/>
        <div class="product-details-info">
            <h1>{{ videogame.name }}</h1><br>
            <p id="product-description">{{ videogame.description }}</p>
            <p id="product-price">{{ videogame.price }}</p><br>
            <button type="button" class="classic-button">Add to Cart</button>
        </div> <!-- end product-details-info -->
    </div> <!-- end product-details -->
{% endblock %}