<div class="sidebar">
    <div class="checkbox-container">

        <h3>Sort By</h3>
        <label class="container">
              <input type="radio" name="sort-by" value="sort-by-price-h-to-l">
              <label for="sort-by-price-h-to-l">Price (High-Low)</label><br>
        </label>
        <label class="container">
              <input type="radio" name="sort-by" value="sort-by-price-l-to-h">
              <label for="sort-by-price-l-to-h">Price (Low-High)</label><br>
        </label>
        <label class="container">
              <input type="radio" name="sort-by" value="sort-by-name">
              <label for="sort-by-name">Name</label><br>
        </label>
    </div>
</div>