{% if user.is_authenticated %}
<div class="dropdown right-header-icons-hide">
    {% load static %}
    <img src="{% static "images/cart-button-clipart-4.jpg" %}" alt="cart" class="icon">
    <div class="dropdown-content cart">

        <!-- Only display cart if it has products -->
        {% if cart_items %}
            <div class="shopping-cart">
                <div class="container mb-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <h2 class="text-center">Cart</h2>
                                <table class="table table-striped">
                                    <!-- header for shopping cart -->
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Product</th>
                                            <th scope="col" class="text-center">Quantity</th>
                                            <th scope="col" class="text-right">Price</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <!-- body for shopping cart -->
                                    {% for product in cart_items %}
                                        {% include 'order/single_cart_item_drop.html' with product=product %}
                                    {% endfor %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Subtotal:</td>
                                        <td>{{ total_price }}$</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Shipping price:</td>
                                        <td>10$</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Total:</td>
                                        <td>{{ total_price }}</td>
                                    </tr>
                                </table> <!-- end table table-responsive -->
                            </div> <!-- end table-repsonsive -->
                        </div> <!-- end col-12 -->
                    </div> <!-- end row -->
                </div> <!-- end container mb-4 -->

                <div class="review-cart-buttons">
                    <a href="{% url 'checkout' %}" class="btn btn-outline-success header-button nav-btn-text" id="checkout-btn">Checkout</a>
                    <a href="{% url 'cart_details' %}" class="btn btn-outline-success header-button nav-btn-text" id="continue-shopping">View cart</a>
                </div> <!-- end review-cart-buttons -->
            </div> <!--end shopping-cart -->

        {% else %}
            <h3 id="cart-empty-dopdown">Cart Empty!</h3>
        {% endif %}
    </div> <!-- end dropdown-content -->
</div> <!-- end dropdown -->
{% endif %}