{% extends 'base.html' %}
{% block content %}
    <div class="cart-details">
        <h1>Shopping cart</h1>
            <div class="container mb-4">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <!-- header for shopping cart -->
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Product</th>
                                        <th scope="col" class="text-center">Quantity</th>
                                        <th scope="col" class="text-right">Price</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                {% for product in cart_items %}
                                    {% include 'order/single_cart_item.html' with product=product %}
                                {% endfor %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Subtotal:</td>
                                    <td>{{ total_price }}$</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Shipping price</td>
                                    <td>10$</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Total</td>
                                    <td>{{ total_price }}</td>
                                </tr>
                            </table> <!-- end table table-responsive -->
                        </div> <!-- end table-repsonsive -->
                    </div> <!-- end col-12 -->
                </div> <!-- end row -->
            </div> <!-- end container mb-4 -->

        <div class="review-cart-buttons">
            <a href="{% url 'checkout_index' %}" class="btn btn-outline-success header-button nav-btn-text" id="checkout-btn">Checkout</a>
            <a href="{% url 'homepage' %}" class="btn btn-outline-success header-button nav-btn-text" id="continue-shopping">Continue Shopping</a>
        </div> <!-- end review-cart-buttons -->
    </div> <!-- end cart-details -->
{% endblock %}