<!-- Body for cart -->
<tbody>
    <tr>
        <td><img class="cart-product-img" src="{{ product.product.image }}"/></td>
        <td>{{ product.product.name }}</td>
        <td>
            <div class="qty mt-5">
                <input type="number" class="count" name="qty" value="{{ product.quantity }}">
            </div>
        </td>
        <td class="text-right">{{ product.product.price }}</td>
        <td class="text-right">
            <button class="btn btn-sm btn-danger">
                <a href="remove_from_cart/{{ product.product.id }}">
                    <i class="fa fa-trash"></i>
                </a>
            </button> <!-- end btn btn-sm btn-danger -->
        </td>
    </tr>
</tbody>