{% extends 'base.html' %}
{% block content %}
    <form class="edit-img" method="post">
        <h1>Edit image</h1>
        {% csrf_token %}
        {{ form }}
        <div class="edit-profile-buttons">
            <a href="{% url 'profile' %}">
                <button class="classic-button back-btn" type="button">Back</button>
            </a>
            <input type="submit" class="classic-button update-btn" value="Update">
        </div> <!-- end edit-profile-buttons -->
    </form> <!-- end form form-horizontal -->


{% endblock %}