{% extends 'base.html' %}
{% block content %}
    <div class="past-order">
        <h1>Order #{{ order.order_number }}</h1>
        <div class="past-order-container">
            <a href="{% url 'past_orders' %}"><button class="back-btn order-review-site"> < Back </button></a>
            <div class="past-order-info">
                <h2>Date: {{ order.date }}</h2><br>
            </div>
                <table class="past-order-table">
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                {% for product in cart_items %}
                    {% include 'user/single_order_item.html' with product=product %}<br>
                {% endfor %}
                </table>
            <h2 class="past-order-info">Total price: ${{ order.total_price }}</h2>
        </div>
    </div>
{% endblock %}